.container {
    position: relative;
  min-height: calc(100vh-250px);
  overflow-x: hidden;
  display: block;
  /* top: 72px; */
  padding: 0 calc(3.5vw + 5px);
  background-color: transparent;
}

.background {
  left: 0px;
  opacity: 0.8;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: -1;
  object-fit:contain;
  background: none;
}

.backgroundImg {

    width: 100vw;
    height: 100vh;
}

.imageTitle {
    align-items: flex-end;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px auto;
    height: 30vw;
    min-height: 170px;
    padding-bottom: 24px;
    width: 100%;
}

.imgTitle {
    max-width: 600px;
        min-width: 200px;
        /* width: 35vw; */
        margin-top: 60px;
        color:rgb(249, 249, 249);
        font-weight: 800;
}

.contentMeta {
    max-width: 874px;
}

.controls {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 24px 0px;
  min-height: 56px;
}

.button_play {
    font-size: 15px;
  margin: 0px 22px 0px 0px;
  padding: 0px 24px;
  height: 46px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  background: rgb(249, 249, 249);
  border: none;
  color: rgb(0, 0, 0);
}

.button_img {
    width: 32px;
}

.button_play:hover {
    background: rgb(198, 198, 198);
}

.button_trailer {
    font-size: 15px;
  margin: 0px 22px 0px 0px;
  padding: 0px 14px;
  height: 46px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(249, 249, 249);
  color: rgb(249, 249, 249);
}
.button_trailer:hover {
    background: rgba(0, 0, 0, 0.6);
}

.addList {
  margin-right: 16px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer
}

  .addList > span {
    background-color: rgb(249, 249, 249);
    display: inline-block;
  }
    .addList > span:first-child {
      height: 2px;
      transform: translate(1px, 0px);
      width: 16px;
    }

    .addList > span:nth-child(2) {
      height: 16px;
      transform: translateX(-8px) rotate(0deg);
      width: 2px;
    }

.groupWatch {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
}


 .groupWatch > div {
    height: 40px;
    width: 40px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
 }
.groupWatch > div > img {
      width: 100%;
    }

.home {
  margin-left: 16px;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  cursor: pointer;
  border-radius: 50%;

}

.home_img {
      height: 44px;
      min-width: 20px;
      width:44px;
      z-index: auto;
}

.subtitle {
  color: rgb(249, 249, 249);
  font-size: 15px;
  min-height: 20px;
}


.description {
  line-height: 1.4;
  font-size: 20px;
  padding: 16px 0px;
  color: rgb(249, 249, 249);
}

.trailer_box {
    position: relative;
/* left: 20%;
top: 70%; */
/* top:150px; */
margin: auto;
height: 390px;
width: 640px ;
/* transform: translate(-50%, -50%); */
border: none;
padding:100px;
}

.trailer {
    position: absolute;
    display: flex;
    align-items: center;
}

.button_exit {
    font-size: 15px;
    position:absolute;
   margin-left:-50px;
   left:50%;
   width:100px;
   bottom:20px;
  /* margin: 0px  0px;
  bottom: 10px; */
  padding: 0px 8px;
  height: 36px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  letter-spacing: 1.8px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(249, 249, 249);
  color: rgb(249, 249, 249);
}

.button_exit:hover {
    background: rgb(249, 249, 249);
    color:rgba(0, 0, 0, 0.6)
}

@media (max-width: 768px) {
    .button {
        height: 45px;
    padding: 0px 12px;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
    }

    .button_img {
      width: 25px;
    }

    .description {
        font-size: 14px;
    }
    .button_trailer {
    font-size: 13px;
  margin: 0px 18px 0px 0px;
  padding: 0px 2px;
  height: 30px;}

  .button_play {
    font-size: 13px;
  margin: 0px 18px 0px 0px;
  padding: 0px 10px;
  height: 30px;}

  .controls {
  margin: 14px 0px;
  min-height: 36px;
}

.imgTitle {
    max-width: 400px;
        min-width: 200px;
        /* width: 35vw; */
        margin-top: 60px;
        color:rgb(249, 249, 249);
        font-weight: 700;
        font-size: 28px;
}

.contentMeta {
    max-width: 674px;
}

  }


